## PROBLEM SET 2

In [1]:
#Question-1 
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a +2
b()
b()
b()
a

6

After executing the last expression the value of a is 6. The value of a = 2 when b () is executed for the first time. The second time b() is executed the value of a becomes 4. And lastly, the value of a becomes 6 when b() is executed for the third time. Since, 2 is added to its previous value.

In [24]:
#Question - 2
def file_length(f):
    try:
        file = open(f, 'r')
        contents = file.read()
        print('The length of the given file is : '+ str(len(contents)))
        file.close()
    except:
        print('file '+f+' not found.')
file_length('midterm.ipynb')
file_length('idterm.py')

The length of the given file is : 759
file idterm.py not found.

In [6]:
#Question - 3 (a)
class Marsupial:
    def __init__(self):
        self.mylist = []
    def put_in_pouch(self, item):
        self.mylist.append(item)
    def pouch_contents(self):
        return self.mylist
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [7]:
#Question - 3

class Marsupial:
    def __init__(self):
        self.mylist = []
    def put_in_pouch(self, item):
        self.mylist.append(item)
    def pouch_contents(self):
        return self.mylist
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
    def jump(self,dx,dy):
        self.x = self.x + dx
        self.y = self.y + dy
    def __str__(self):
        return 'I am a Kagaroo located at coordinates ({},{})'.format(self.x,self.y)
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kagaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kagaroo located at coordinates (3,0)

In [8]:
#Question 4 
def collatz(x):
    if x != 1:
        if x%2!= 0:
            print(int(x))
            collatz(3*x+1)
        else:
            print(int(x))
            collatz(x/2)
    else:
        print(int(x))
collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

In [9]:
#Question - 5
def findBinary(decimal):
    if decimal>0:
        return (decimal % 2 + 10*findBinary(int(decimal //2)))
    else:
        return 0
findBinary(0)
findBinary(1)
findBinary(3)
findBinary(9)

1001

In [10]:
#Question - 6

from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.intend = ''
        self.head = 0
        
    def handle_starttag(self, tag, attrs):
        if tag[:-1]=='h':
            self.head = 'type'
            
    def handle_data(self, data):
        if self.head=='type':
            print(self.intend+ data)
            self.intend+='0'
            self.head = 0

infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
0Principles

In [11]:
#Question 7

from html.parser import HTMLParser
from urllib.request import urlopen
from urllib.parse import urljoin

class collector(HTMLParser):
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
        
    def append(self):
        return self.links
    
    def handle_starttag(self, tag, attributes):
        for attr in attributes:
            if attr[0] == 'href':
                mylink = urljoin(self.url, attr[1])
                if mylink[:4] == 'http':
                    self.links.append(mylink)

class urlcollector(collector):
    def handle_starttag(self, tag, atributes):
        if tag =='a':
            for attr in attributes:
                if attr[0] == 'href':
                    url = url.join(self.url, attr[1])
                    if url not in self.links:
                        self.links.append(url)
                        
                        
def webdir(url, depth, i):
    depth = depth -1
    print(i*' ', url)
    
    objective = urlopen(url).read().decode()
    collection = collector(url)
    collection.feed(objective)
    urls = collection.append()
    
    links = urls
    i = i+4
    
    for link in links:
        if depth < 0 or i < 0:
            return 1
        else:
            webdir(link, depth, i)
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
     http://reed.cs.depaul.edu/lperkovic/test2.html
         http://reed.cs.depaul.edu/lperkovic/test4.html
     http://reed.cs.depaul.edu/lperkovic/test3.html
         http://reed.cs.depaul.edu/lperkovic/test4.html

In [21]:
#Question 8

import sqlite3
con = sqlite3.connect('database_db')
cur = con.cursor()
cur.execute("CREATE TABLE Atmosphere (City, Country, Season, Temperature, Rainfall)")

In [22]:
cur.execute("INSERT INTO Atmosphere VALUES('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO Atmosphere VALUES('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO Atmosphere VALUES('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO Atmosphere VALUES('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO Atmosphere VALUES('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO Atmosphere VALUES('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO Atmosphere VALUES('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO Atmosphere VALUES('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO Atmosphere VALUES('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO Atmosphere VALUES('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO Atmosphere VALUES('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO Atmosphere VALUES('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

In [23]:
cur.execute("SELECT Temperature FROM Atmosphere")
for record in cur:
    print(record)

cur.execute("SELECT DISTINCT City FROM Atmosphere")
for record in cur:
    print(record)

cur.execute("SELECT * FROM Atmosphere where Season = 'Fall'")
for record in cur:
    print(record)

cur.execute("SELECT * FROM Atmosphere where Country = 'India'")
for record in cur:
    print(record)

cur.execute("SELECT City, Country FROM Atmosphere where Season = 'Fall' AND Temperature > 20 ORDER BY Temperature DESC")
for record in cur:
    print(record)

cur.execute("SELECT City, Country, Season FROM Atmosphere where Rainfall >200 AND Rainfall<400")
for record in cur:
    print(record)

cur.execute("SELECT SUM(Rainfall) FROM Atmosphere where City = 'Cairo'")
annual_rainfall = cur.fetchall()
print(annual_rainfall)

cur.execute("SELECT SUM(Rainfall), Season FROM Atmosphere GROUP BY Season")
for record in cur:
    print(record)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
('Mumbai',)
('London',)
('Cairo',)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India')
('Cairo', 'Egypt')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
[(27.6,)]
(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(230.1, 'Winter')

In [15]:
#Question 9

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[a.upper() for a in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [16]:
[a.lower() for a in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [17]:
[len(a) for a in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [18]:
[[a.upper(),a.lower(),len(a)] for a in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [19]:
[a for a in words if len(a) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']